*{
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    color: aliceblue;
}
title{
    display: none;
}

body{
    background-image: url("../img/basketball-background.jpg");
    background-repeat: no-repeat;
}

/*ESTILOS PARA DIVS*/
div {
    position: relative;
    float: left;
}
/*LOGIN Y CABECERA DE TODAS LAS PÃGINAS*/
div.holder{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
div.title{
    width: 100%;
    height: 10%;
    background-color: rgba(28, 102, 67, 0.5);
}

div.login{
    left: 35%;
    border: 3px solid darkolivegreen;
    width: 30%;
    height: 40%;
    border-radius: 20px;
    background-color: rgba(140, 136, 136, 0.5);
    margin: 6% 0% 0% 0%;
}
form>label{
    display: inline-block;
    width: auto;
}
form>input{
    display: inline-block;
    width: 80%;
}

/*MENU DE SELECCION*/
div.menu{
    width: 40%;
    height: 30%;
    margin: 3% 0% 0% 5%;
}

div.menu2{
    width: 85%;
    height: 30%;
    margin: 3% 0% 0% 5%;
}
a.menu{
    display: block;
    float: left;
    font-size: x-large;
    width: 100%;
    height: 100%;
    background-color: rgba(150, 146, 146, 0.7);
    border: 3px solid darkolivegreen;
    border-radius: 10px;
    margin: auto;
    padding: auto;
    color: black;
    text-align: center;
}

/*DIV PARA FORMULARIO LIGA, EQUIPOS Y RESULTADOS*/
div.formulario{
    border: 3px solid darkolivegreen;
    align-self: center;
    width: 50%;
    height: 50%;
    border-radius: 20px;
    background-color: rgba(140, 136, 136, 0.5);
    margin: 6% 0% 0% 0%;
}
form>label{
    font-size: xx-large;
    font-weight: bold;
}
/*TABLAS PARA EQUIPOS*//*TABLAS PARA RESULTADOS*/
div.tabla{

}
div.anadirEquipo{

}
div.anadirResult{

}

/*ESTILOS PARA FORMULARIOS*/
form{
    margin-top: 4%;
    margin-left: 2%;
}

label{
    position: relative;
    float: left;
    font-size: large;
    margin-top: 5%;
}
.text{
    display: inline-block;
    position: relative;
    float: left;
    font-size: large;
    margin-top: 5%;
    margin-left: 3%;
}
.button{
    display: inline-block;
    position: relative;
    float: right;
    font-size: medium;
    border-radius: 10px;
    margin-top: 20%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 0px 5px 0px 3px;
    color: black;
}