*{
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
title{
    display: none;
}

body{
    background-image: url("../img/basketball-background.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

/*ESTILOS PARA DIVS*/
div {
    position: relative;
    float: left;
}
/*LOGIN Y CABECERA DE TODAS LAS PÃGINAS*/
div.title{
    width: 100%;
    height: 10%;
    background-color: rgba(28, 102, 67, 0.5);
}
div>h1{
    display: block;
    float: left;
}

div.login{
    left: 35%;
    border: 3px solid darkolivegreen;
    width: 30%;
    height: 40%;
    border-radius: 20px;
    background-color: rgba(140, 136, 136, 0.5);
    margin: 6% 0% 0% 0%;
}
form>label{
    display: block;
    width: auto;
}

/*MENU DE SELECCION*/
div.menu{
    width: 40%;
    height: 30%;
    margin: 3% 0% 0% 5%;
}

div.menu2{
    width: 85%;
    height: 30%;
    margin: 3% 0% 0% 5%;
}
a.menu{
    display: block;
    float: left;
    font-size: x-large;
    width: 100%;
    height: 100%;
    background-color: rgba(150, 146, 146, 0.7);
    border: 3px solid darkolivegreen;
    border-radius: 10px;
    margin: auto;
    padding: auto;
    color: black;
    text-align: center;
}

/*DIV PARA FORMULARIO LIGA, EQUIPOS Y RESULTADOS*/
div.formulario{
    border: 3px solid darkolivegreen;
    left: 30%;
    align-self: center;
    width: 35%;
    height: 40%;
    border-radius: 20px;
    background-color: rgba(140, 136, 136, 0.5);
    margin: 3% 2% 5% 2%;
    padding: auto;
}
form>label{
    font-size: xx-large;
    font-weight: bold;
}
/*TABLAS PARA EQUIPOS*//*TABLAS PARA RESULTADOS*/
div.tabla{
    display: block;
    width: 58%;
    float: left;
    left: 20%;
    top: 5%;
    margin: 2% 0% 0% 0%;
    padding: inherit;
}
div.anadir{
    left: 15%;
}
div.botones{
    width: 100%;
    height: auto;
}

/*ESTILOS PARA FORMULARIOS*/
form{
    margin-top: 4%;
    margin-left: 2%;
}

label{
    position: relative;
    float: left;
    font-size: large;
    margin-top: 5%;
}
.text{
    float: left;
    font-size: x-large;
    width: 90%;
    padding: 1% 1% 1% 1%;
    margin: 5% 3% 0% 0%;
    color:black;
}

.button{
    display: block;
    float: right;
    font-size: large;
    background-color: aliceblue;
    border-radius: 10px;
    color: black;
    text-align: center;
    margin: 10% 1% 1% 2%;
    padding: 5%;
}
a.disconnect{
    display: block;
    float: right;
    font-size: large;
    background-color: aliceblue;
    border-radius: 10px;
    color: black;
    text-align: center;
    margin: 5px 2px 0% 0%;
    padding: 3px;
}
 #button{
     padding: 20%;
     font-size: 200%;
 }

#atras2{
    float: left;
}
div.submit{
    float: right;
}

div.volver{
    float: right;
    left: -15%;
    margin: 0.5% 0% 0% 0%;
    height: 15%;
    width: 15%;
}
/* PARA LA TABLA */
.tablita{
    background-color: azure;
    border: 1px solid black;
    width: 100%;
    height: auto;
}
.tablote{
    background-color: azure;
    border: 1px solid black;
    width: 83%;
    left: 10%;
    height: auto;
}
table{
    display: table;
    color: black;
}
tr{
    display: table-row;
    font-weight: bold;
    color: black;
    border-bottom: 1px solid black;
}
th,td{
    border: 1px solid black;
    text-align: center;
    display: table-cell;
    width: 16.67%;
    font-weight: bold;
    color: black;
}
td{
    padding: 2% 1% 2% 1%;
}
#edit-delete{
    display: block;
    left: 30%;
    width: 50px;
    height: 50px;
    color: black;
    font-size: x-large;
}

.far{
    color: black
}
.fas{
    color: black;
}